$icon-margin: 4px

.button
  background-color: $color-button-bg-primary
  color: $color-button-text-primary
  display: inline-block
  text-align: center
  font-weight: $font-weight-regular
  font-size: $font-size-button
  border: none
  padding: 8px 12px
  text-transform: uppercase
  @include transition(background-color)

  &:hover
    color: $color-button-text-primary
    background-color: $color-button-bg-hover-primary

  &:disabled
    color: $color-button-text-primary-disabled
    background-color: $color-button-bg-primary-disabled

  &.button--secondary
    color: $color-button-text-secondary
    background-color: $color-button-bg-secondary
    border: 1px solid $color-button-text-secondary

    &:hover
      color: $color-button-text-secondary
      background-color: $color-button-bg-hover-secondary

    &:disabled
      color: $color-button-text-secondary-disabled
      border-color: $color-button-border-secondary-disabled

  > span
    display: inline-block
    vertical-align: middle
    line-height: 42px

  &.button--block
    display: block

  &.button--with-icon
    i
      display: inline-block
      font-size: $font-size-default
      vertical-align: middle

  &.button--icon-right
    i
      margin-left: $icon-margin

  &.button--icon-left
    i
      margin-right: $icon-margin
