.module--event-detail
  .event-detail--inner
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto
    height: 600px

  .event-detail--metadata
    overflow: auto
    height: 250px
    padding: 20px

  .event-detail--image
    overflow: hidden
    height: 250px
    position: relative

    img
      display: block
      position: relative
      top: 60%
      transform: translateY(-60%)
      width: 100%

  .event-detail--image-gradient
    position: absolute
    height: 190px
    bottom: 0
    left: 0
    right: 0
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 25%, rgba(0,212,255,0) 80%)

  .event-detail--header
    margin-top: -68px
    position: relative
    color: $color-event-hero-text
    padding: 0 20px
    h4, h1
      margin: 0
    h4
      font-size: 1rem
      font-weight: 100
    h1
      font-size: 1.6rem
      font-weight: 500
      margin-top: 4px

  .event-detail--map
    overflow: hidden
    border-radius: 6px
    margin-top: 12px

  .event-detail--actions
    height: 100px
    background: linear-gradient(0deg, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%)

    .event-detail--button
      margin: 10px 20px 10px
