
@import 'config'
@import 'tokens/index'
@import 'storybook/helpers'

$opensans-font-path: "/fonts/opensans/" !default
$icon--material-path: "/fonts/materialicons/" !default

@import 'fonts/index'


#story-root, #root
  font-family: $font-family-text
  @extend .body-regular

  @import 'vendor/normalize'
  @import 'typography/index'
  @import 'utilities/index'

  @import 'components/index'
  @import 'modules/index'
  @import 'pages/index'

  pre
    display: inline-block
    color: $color-text-secondary
    padding: 3px 8px
    border-radius: 6px
    background-color: $color-background-secondary
    border: 1px solid $color-border-primary