$white: #fff
$black: #000
$subtle-grey: #E6E6E6
$light-grey: #C8C8C8
$mid-grey: #666666
$text-grey: #333333

$green: #00E8A4
$red: #FF3548
$highlight-blue: #b5faff6e
// Brand colors
$navy-blue: #002B56

// Core definitions ----------------------------------------
//text
$color-text-primary: $text-grey
$color-text-secondary: $mid-grey
$color-text-subtle: $light-grey

// links
$color-link-text-primary: $navy-blue
$color-link-text-primary-hover: darken($color-link-text-primary, 10)

// border colors
$color-border-primary: $light-grey

// background colors
$color-background-primary: $subtle-grey
$color-background-secondary: #F7F7F7

// Components ----------------------------------------
// buttons
$color-button-text-primary: $white
$color-button-text-primary-disabled: $subtle-grey

$color-button-bg-primary: $color-link-text-primary
$color-button-bg-primary-disabled: $light-grey

$color-button-bg-hover-primary: lighten($color-button-bg-primary, 10)
  
$color-button-text-secondary: $color-text-primary
$color-button-text-secondary-disabled: $subtle-grey

$color-button-bg-secondary: $white
$color-button-bg-hover-secondary: lighten($color-button-bg-primary, 80)

$color-button-border-secondary-disabled: $subtle-grey

// menus
$color-dropdownmenu-bg: $white

// switch
$color-switch-active: $green
$color-switch-inactive: #969696
$color-switch-disabled: $light-grey
$color-switch-inactive-hover: #96D0BF
$color-switch-bg: $subtle-grey

// open status
$color-status-open: $green
$color-status-closed: $red

// loader--grid
$color-loader-background: $color-button-bg-primary

// Modules ----------------------------------------
