$white: #fff
$black: #000
$light-grey: #C8C8C8
$text-grey: #5C5C5C

// Brand colors
$pink: #FF6776

// Core definitions
$color-button-bg-primary: $pink
$color-button-bg-hover-primary: darken($pink, 10)
$color-button-text-primary: $white
$color-text-primary: $text-grey
$color-text-subtle: $light-grey
$color-link-text-primary: $pink
$color-link-text-primary-hover: darken($pink, 10)

// modal colors
$color-modal-backdrop: rgba(77, 105, 146, 0.63)
$color-modal-icon-close: $white
$color-modal-icon-shadow: rgba(0,0,0,0.3)

// loader--grid
$color-loader-background: $pink

// event detail
$color-event-hero-text: $white
