$font-family-text: 'Helvetica Neue', 'Open Sans', Arial, sans-serif
$font-family-heading: 'Helvetica Neue', 'Open Sans', Arial, sans-serif
$font-family-monospace: Consolas, Menlo, Monaco, Courier, monospace

/* Use for large headings only. */
$font-weight-light: 300
/* Most all body copy. */
$font-weight-regular: normal
/* Used sparingly for emphasized text within regular body copy. */
$font-weight-bold: 700

$font-size-small: 11px
$font-size-default: 14px
$font-size-large: 20px
$font-size-huge: 24px

$line-height-large: 28px

// Component-specific

// button
$font-size-button: 12px

// dropdown
$font-size-dropdown: 16px

// open-status
$font-size-openstatus-normal: 22px
$font-size-openstatus-small: 12px
$font-size-openstatus-compact: 8px