.body-regular
  font-size: $font-size-default
  font-weight: $font-weight-regular

.body-small
  font-size: $font-size-small
  font-weight: $font-weight-regular

.body-large
  font-size: $font-size-large
  font-weight: $font-weight-light
  line-height: $line-height-large
  letter-spacing: 1px

.body-small--subtle
  color: $color-text-subtle

a
  @extend .body-regular
  color: $color-link-text-primary
  cursor: pointer
  text-decoration: none
  &:hover
    color: $color-link-text-primary-hover
    text-decoration: underline
p
  @extend .body-regular
